In [1]:
import numpy as np
import csv 
import matplotlib.pyplot as plt

In [2]:
with open('iris.csv') as f: 
    reader = csv.reader(f)
    l = [row for row in reader]

In [31]:
setosa = np.array(l[1:51])

In [34]:
setosa[:, 1].tolist()

['3.5',
 '3.0',
 '3.2',
 '3.1',
 '3.6',
 '3.9',
 '3.4',
 '3.4',
 '2.9',
 '3.1',
 '3.7',
 '3.4',
 '3.0',
 '3.0',
 '4.0',
 '4.4',
 '3.9',
 '3.5',
 '3.8',
 '3.8',
 '3.4',
 '3.7',
 '3.6',
 '3.3',
 '3.4',
 '3.0',
 '3.4',
 '3.5',
 '3.4',
 '3.2',
 '3.1',
 '3.4',
 '4.1',
 '4.2',
 '3.1',
 '3.2',
 '3.5',
 '3.1',
 '3.0',
 '3.4',
 '3.5',
 '2.3',
 '3.2',
 '3.5',
 '3.8',
 '3.0',
 '3.8',
 '3.2',
 '3.7',
 '3.3']