In [1]:
import pandas as pd 
import numpy as np

In [43]:
df = pd.read_csv('iris.csv')

In [12]:
n, d = df.iloc[:,:4].to_numpy().shape

In [13]:
n

150

In [126]:
y[:50].shape

(50,)

In [117]:
y = df.iloc[:, 4].to_numpy()

In [123]:
y[y=='setosa'] = 0
y[y=='versicolor'] = 1
y[y=='virginica'] = 2

In [124]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=object)

In [16]:
np.sqrt(-np.log(.5))

0.8325546111576977

In [60]:
X = df.iloc[:,:4].to_numpy()

In [61]:
X = X.T
W = X[:, 1]

In [66]:
D= X - np.tile(W, (n, 1)).T

In [93]:
D.shape

(4, 150)

In [94]:
D_t = D.T

In [95]:
X1 = D_t
X2 = D

In [96]:
r1, c1 = X1.shape
r2, c2 = X2.shape

In [98]:
X1_tmp = X1.T
X1_tmp = X1_tmp.flatten('F')
X2_tmp = X2.flatten('F')

In [113]:
sum((X1_tmp * X2_tmp).reshape(r1,c1))

array([ 235.65,   28.45, 1298.36,  236.38])

In [106]:
a = np.zeros([c1, r1])

In [109]:
a.shape

(4, 150)